* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 62.5%;
  position: relative;
  font-family: "Noto Sans TC", "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
